body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum";
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: black;
}
.top-header a,
.nav-header a{
   color: white;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  min-height: 320px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 320px;
  background-color: #f4f7f9;
}
.top-header {
  width: 100%;
  margin: 0;
  padding: 0; 
  min-height: 42px;
  background-color: #293449;
}
.top-header .top-header-center {
  width: 940px;
  margin: 0 auto;
  padding: 0; 
  height: 42px;
  display: flex;
}
.header-logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  position: relative;
}
.header-logo img {
  position: absolute;
  top: 12px;
  left: 56px;
}
.search {
  width: 270px;
  height: 42px;
  margin: 0;
  padding: 0;
}
.search form {
  display: flex;
  width: 270px;
  height: 42px;
}
.search button {
  width: 49px;
  padding: 0;
  margin: 0;
  height: 42px;
  border: none;
  outline: none;
  background-color: #293449;
  position: absolute;
}
.search input {
  border: none;
  outline: none;
  padding: 0;
  flex-grow: 1;
  padding-right: 10px;
  padding-left: 49px;
  background-color: #293449;
}
.search input::placeholder {
  color: #fff;
}
.search svg {
  position: absolute;
  top: 12px;
  left: 17px;
}
.search path {
  fill-opacity: 0.3;;
}
.basket-shop {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 450px;
  box-sizing: border-box;
}
.basket-shop li {
  width: 150px;
  list-style: none;
}
.basket-shop a,
.user-navigation a {
  display: block;
  text-decoration: none;
}
.basket-shop .bookmark a {
  padding: 12px 0;
  padding-left: 45px;
  padding-right: 26px;
  position: relative;
}
.basket-shop .cart-index a {
  padding: 12px 0;
  padding-left: 49px;
  padding-right: 25px;
  position: relative;
}
.basket-shop .arrange a {
  padding: 12px 20px;
  background-color: #63a63e;
}
.basket-shop .bookmark a::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  background: url(../img/svg/icon-bookmark.svg) no-repeat 0 0;
  opacity: 0.3;
}
.basket-shop .cart-index a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  background: url(../img/svg/icon-cart.svg) no-repeat 0 0;
  opacity: 0.3;
}
.content-header {
  width: 940px;
  margin: 0;
  padding: 0;  
  min-height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-header h1 {
  width: 196px;
  height: 60px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  padding-left: 52px;
  margin-top: 49px;
}
.header-address {
  margin-left: 72px;
  padding-top: 46px;
  text-align: center;
}
.header-address p {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  margin: 0;
}
.header-address a {
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  width: 270px;
  display: block;
  border: 3px solid #fff;
  padding: 9px 0;
  padding-left: 22px;
  box-sizing: border-box;
  margin-bottom: 4px;
  position: relative;
  text-decoration: none;
}
.header-address a::before {
  content: "";
  width: 19px;
  height: 19px;
  background: url(../img/svg/icon-phone.svg) no-repeat 0 0;
  position: absolute;
  left: 12px;
}
.login {
  margin-left: auto;
  margin-top: 46px;
  width: 281px;
  height: 45px;
  display: flex;
  position: relative;
}
.login a:first-child {
  margin-right: 10px;
  padding: 12px 26px;
  padding-left: 47px;
}
.login a:last-child {
  padding: 12px 24px;
}
.login a {
  color: black;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  background-color: white;
}
.login svg {
  position: absolute;
  top: 14px;
  left: 14px;
}
.login:hover svg path {
  fill: #32425c;
}
.nav-content {
  display: flex;
}
.nav-header {
  width: 940px;
  min-height: 60px;
  margin-bottom: 60px;
  line-height: 17px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}
.user-navigation li {
  margin-right: 1px;
  list-style: none;
}
.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-header a {
  padding: 20px 30px;
}
.nav-header li:last-child a {
  padding-right: 53px;
}
.nav-header li:first-child a {
  padding-left: 53px;
}
.benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 53px;
}
.benefits-title {
  display: none;
}
.benefits-list {
  width: 940px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 409px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  position: relative;
}
.benefits-item {
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.benefits h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-top: 20px;
  padding-left: 23px;
}
.benefits a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 25px;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 13px;
  padding: 10px 0px;
  background-color: cadetblue;
  width: 135px;
  text-align: center;
}
.benefits p {
  margin: 0;
}
.slider {
  width: 620px;
  min-height: 266px;
  position: relative;
}
.slider-list {
  width: 620px;
  min-height: 266px;
}
.slider ul {
  padding: 0;
  margin: 0;
}
.slider-1 {
  background-image: url("../img/slider-1.jpg");
}
.slider-2 {
  background-image: url("../img/slider-2.jpg");
}
.slider .slider-1 h3,
.slider .slider-2 h3 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 21px;
  padding-left: 24px;
}
.slider .slider-1 p,
.slider .slider-2 p {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 3px;
  padding-left: 25px;
}
.slider .slider-1 a,
.slider .slider-2 a {
  width: 195px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  margin: 0;
  margin-top: 121px;
  margin-left: 25px;
}
.slider-controls label:first-child {
  position: absolute;
  z-index: 20;
  top: 113px;
  left: 25px;
  font-size: 0;
  display: inline-block;
  width: 22px;
  height: 40px;
  background: url(../img/svg/icon-left.svg) no-repeat 0 0;
}
.slider-controls label:last-child {
  position: absolute;
  z-index: 20;
  top: 113px;
  right: 20px;
  font-size: 0;
  display: inline-block;
  width: 22px;
  height: 40px;
  background: url(../img/svg/icon-right.svg) no-repeat 0 0;
}
.slider-controlss label:first-child {
  position: absolute;
  z-index: 20;
  bottom: 7px;
  left: 295px;
  font-size: 0;
  display: inline-block;
  width: 22px;
  height: 40px;
  background: url(../img/slider_dots.png) no-repeat 0 0;
}
.slider-controlss label:last-child {
  position: absolute;
  z-index: 20;
  bottom: 7px;
  right: 283px;
  font-size: 0;
  display: inline-block;
  width: 22px;
  height: 40px;
  background: url(../img/slider_dots.png) no-repeat 0 0;
}
.slide {
  display: none;
}
#product-1:checked ~ .slider #slider1,
#product-2:checked ~ .slider #slider2 {
  display: block;
}
#product-1:checked ~ .slider .slider-controlss label[for="product-1"],
#product-2:checked ~ .slider .slider-controlss label[for="product-2"] {
  background: url(../img/slider_indicator.png) no-repeat 0 0;
}
.Delivery {
  margin-bottom: 0px;
}
.Delivery,
.Discounts,
.Technic {
  margin-right: 0;
}
.Delivery,
.Discounts {
  margin-left: 20px;
  order: 1;
}
.Materials {background: #efbe52 url(../img/svg/icon-1.svg) no-repeat 83% 52%;}
.Tool {background: #73bae1 url(../img/svg/icon-2.svg) no-repeat 88% 52%;}
.Technic {background: #c990d5 url(../img/svg/icon-3.svg) no-repeat 86% 50%;}
.Discounts {background: #a5d691 url(../img/svg/icon-4.svg) no-repeat 196px 25px;}
.Delivery {
  background: #efbe52 url(../img/svg/icon-5.svg) no-repeat 86% 52%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.Materials a,
.Delivery a,
.Tool a,
.Technic a, 
.Discounts a {
  background-color: rgba(0, 0, 0, 0.1);
}
.benefits-item:first-child .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.benefits-item:first-child .flag-new {
  background: url("../img/new_flag.png") no-repeat 0 0;
}
.popular-product, .manufacturers {
  width: 940px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 89px;
  background-color: #e8dccb;
  padding: 0px 24px;
  box-sizing: border-box;
}
.list-products, 
.list-manufacturers {
  margin: 20px 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-manufacturers li {
  width: 220px;
  height: 143px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
  display: flex;
}
.list-manufacturers li a {
  margin: auto;
}
.popular-product .popular h2,
.manufacturers .popular h2 {
   color: #32425c;
   font-size: 30px;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
   padding-left: 4px;
}
.popular-product .popular a,
.manufacturers .popular a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 2px;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.list-product {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}
.list-product:last-child {
  margin-right: 0;
}
.list-product .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.list-product .flag-new {
  background: url("../img/new_flag.png") no-repeat 0 0;
}
.list-product .image {
  width: 218px;
  height: 168px;
}
.list-product img {
  max-width: 100%;
}
.list-product .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 3px;
}
.list-product .title a {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}
.list-product .discount {
  min-height: 20px;
  margin-top: 10px;
  padding-left: 4px;
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase; 
}
.list-product .price {
  position: relative;
  width: 80px;
  margin: 8px auto;
  margin-right: 37px;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 3px;
}
.list-product .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}
.list-product .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.list-product .actions .buy,
.list-product .actions .bookmark {
 display: block;
 width: 129px;
 margin: 0 auto;
 margin-bottom: 8px;
 padding: 7px 0;
 background-color: #63a63e;
 border: 3px solid #63a63e;
 border-bottom-color: #367315;
 border-radius:3px;
 color: white;
 font-size: 14px;
 font-weight: normal;
 font-family: "Cuprum", sans-serif;
 line-height: 18px;
 text-decoration: none;
 text-transform: uppercase;
}
.actions .buy {
  position: relative;
}
.buy svg {
  position: absolute;
  left: 10px;
}
.buy svg path,
.buy svg circle {
  fill-opacity: 0.3;
}
.list-product .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.list-product .actions {
  display: none;
}
.list-product:hover .actions {
  display: block;
}
.service {
  width: 100%;
  min-height: 522px;
  background-color: #f4f8f9;
  background-image: url(../img/);
  margin: 45px 0;
  margin-bottom: 0;
  box-sizing: border-box;
}
.service-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 940px;
}
.title-service {
  width: 398px;
  height: 96px;
  margin-top: 65px;
}
.title-service h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 65px;
  margin: 0;
}
.title-service p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;  
  padding-top: 12px;
}
.list-service {
  width: 240px;
  height: 279px;
  padding: 0;
  padding-top: 61px;
  box-sizing: border-box;
  position: relative;
  list-style: none;
}
.list-service::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background: url(../img/Layer_118_copy.png) no-repeat;
  top: 20px;
  right: 0;
}
.list-service li:first-child button {
  background-color: #fffc;
  box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff;
  color: #000;
}
.list-service li button {
  width: 240px;
  height: 61px;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  text-align: left;
  padding-left: 20px;
  outline: none;
}
.service-list {
  display: flex;
}
.service-content .list-item h3 {
  color: #32425c;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.list-service-item {
  padding-left: 80px;
  margin-top: 39px;
  margin-bottom: 0;
  list-style: none;
}
.list-service-item li:first-child {
  width: 620px;
  height: 286px;
  background: url(../img/Layer_131.png) no-repeat 100% 100%;
}
.service-content .list-item p {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 275px;
}
.service-content .list-item:last-child button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: #ee3643;
}
.service-content .list-item:nth-child(2),
.service-content .list-item:nth-child(3) {
  display: none;
}
.about-company {
  width: 940px;
  min-height: 536px;
  margin: 0 auto;
  padding: 80px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 79px;
  position: relative;
}
.company {
  width: 519px;
  height: 371px;
}
.contact-company {
  width: 300px;
  height: 371px;
}
.about-company .company h2,
.about-company .contact-company h2 {
   color: #000000;
   font-size: 30px;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
   margin-top: 0;
}
.about-company .company p:nth-of-type(2) {
    padding-top: 11px;
    width: 400px;
    margin-bottom: 0;
}
.about-company .company li {
   color: #000000;
   font-family: Cuprum;
   font-size: 18px;
   font-weight: 400;
   line-height: 40px;
   list-style: none;
   position: relative;
}
.about-company .company ul {
  margin-top: 12px;
  padding: 0;
  padding-left: 36px;
  margin-bottom: 35px;
}
.about-company .company li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: url(../img/Layer_23_copy_3.png) no-repeat 0 0;
  top: 19px;
  left: -36px;
}
.about-company .company a,
.about-company .contact-company button {
   color: #ffffff;
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   text-transform: uppercase;
   text-decoration: none;
   background-color: #ee3643;
}
.about-company .company a {
  padding: 10px 41px;
}
.about-company .company p,
.about-company .contact-company p {
   color: #000000;
   font-size: 13px;
   font-family: "PT Sans";
   font-weight: 400;
   line-height: 24px;
}
.about-company .contact-company p {
  width: 179px;
  margin-bottom: 32px;
}
.about-company .contact-company button {
  margin-top: 36px;
  padding-left: 12px;
  width: 300px;
  height: 38px;
  border: none;
}
.popup-map {
  display: block;
  position: absolute;
  top: 33px;
  left: 0;
  width: 940px;
  height: 447px;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}
.popup-form {
  width: 620px;
  height: 430px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 205px;
  left: 160px;
  background-color: #fff;
  border-top: 7px solid red;
  box-sizing: border-box;
}
.popup-form-contact label {
  display: inline-block;
  width: 220px;
  color: #000000;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.form-contact {
  margin: 0 80px;
  padding-top: 47px;
}
.form-contact label input,
.form-contact label textarea {
  width: 220px;
  border: 2px solid #dee3e4;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 21px;
  padding: 8px 14px;
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  box-sizing: border-box;
  outline: 0;
}
.form-contact label:nth-child(1) {
  margin-right: 15px;
}
.form-contact label textarea {
  width: 460px;
  margin-bottom: 37px;
}
.botton-form {
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}
.botton-form button {
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  margin: 37px 80px;
  border: none;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background: url(../img/svg/icon-close.svg) no-repeat 0 0;
  border: 0;
  cursor: pointer;
}
.popup-map, .popup-form {
  display: none;
}
.main-footer {
  width: 100%;
  min-height: 300px;
  background-color: #32425c;
}
.footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  position: relative;
}
.footer-logo img {
  position: absolute;
  top: 12px;
  left: 42px;
  width: 136px;
  height: 40px;
}
.aside-nav {
  width: 940px;
  min-height: 193px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.aside-nav-1 address {
  width: 325px;
  height: 45px;
  margin-top: 28px;
  padding-left: 3px;
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}
.aside-nav address a {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
}
.aside-nav .list-1 li,
.aside-nav .list-2 li,
.aside-nav .list-1 a,
.aside-nav .list-2 a {
  color: #f1f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.aside-nav .list-2 a {
  color: #ffd180;
}
.aside-nav-2 {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
}
.aside-nav-2 .list-1 {
  width: 547px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 38px;
  list-style: none;
}
.aside-nav-2 .list-2 {
  width: 525px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 34px;
  list-style: none;
}
.feedback {
  width: 100%;
  height: 107px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  background-color: #293449;
}
.feedback-info {
  width: 940px;
  height: 107px;
  margin: 0 auto;
  display: flex;
}
.feedback-p {
  margin: 0;
  margin-top: 37px;
  width: 230px;
  height: 33px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  }
.feedback .socials-icon {
  padding-left: 160px;
  margin-top: 36px;
}
.feedback .socials-icon li{
  display: inline-block;
  list-style: none;
  margin-right: -1px;
}
.feedback .socials-icon li a {
  display: block;
  width: 42px;
  height: 40px;
  border-radius: 50%;
}
.feedback .socials-icon li:nth-child(1) a {
  background: #212a3a url(../img/svg/icon-vk.svg) no-repeat 8px 12px;
}
.feedback .socials-icon li:nth-child(2) a {
  background: #212a3a url(../img/svg/icon-fb.svg) no-repeat 15px 9px;
}
.feedback .socials-icon li:nth-child(3) a {
  background: #212a3a url(../img/svg/icon-insta.svg) no-repeat 10px 9px;
}
.main-feedback {
  display: flex;
  width: 300px;
  margin-top: 37px;
  margin-left: auto;
  justify-content: space-between;
}
.fed-1,
.fed-1 a {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #fff;
}
.fed-1 a {
  color: #ffd180;
  text-decoration: none;
}
.fed-1:last-child {
  padding-right: 13px;
  width: 100px;
}
.cart-catalog a {
  background-color: #ee3643;
}
.user-profile {
  width: 300px;
  height: 70px;
  margin-top: 46px;
  margin-left: auto;
}
.profile-name {
  width: 300px;
  height: 45px;
  display: flex;
  background-color: white;
}
.profile-name a {
  display: block;
  margin: 0;
  padding: 13px 21px;
  padding-left: 48px;
  height: 20px;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  align-self: center;
  position: relative;
  text-decoration: none;
}
.profile-name svg {
  position: absolute;
  top: 14px;
  left: 15px;
} 
.profile-name button {
  width: 45px;
  height: 45px;
  background: #fff;
  border: none;
  padding: 0;
  position: relative;
  outline: none;
  cursor: pointer;
}
.user-profile ul {
  display: flex;
  margin: 8px auto 0 19px;
  padding: 0;
}
.user-profile ul li:first-child {
  padding-right: 3px;
  list-style: none;
}
.user-profile ul li:last-child {
  margin-left: 29px;
  list-style: disc;
  color: #000;
}
.user-profile ul a {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}
.breadcrumbs {
  width: 940px;
  height: 59px;
  margin: 0 auto;
}
.breadcrumbs-list {
  width: 400px;
  height: 60px;
  margin: 0;
  padding: 15px 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.breadcrumbs-list a {
  text-decoration: none;
}
.breadcrumbs li,
.breadcrumbs li a {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}
.breadcrumbs li:first-child a:first-child {
  display: block;
  width: 25px;
  height: 30px;
}
.breadcrumbs li:first-child {
  margin-right: 30px;
  width: 25px;
  height: 30px;
  position: relative;
  padding-top: 1px;
}
.breadcrumbs li:first-child a:first-child {
  display: block;
  width: 25px;
  height: 30px;
}
.breadcrumbs li {
  display: inline-block;
  position: relative;
}
.breadcrumbs li:nth-child(2) {
  margin-right: 40px;
}
.breadcrumbs li:nth-child(3) 
{margin-right: 43px;
}
.breadcrumbs li:nth-child(2)::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  background: url(../img/svg/icon-right-small.svg) no-repeat 0 0;
  left: -27px;
  top: 2px;
}
.breadcrumbs li:nth-child(3)::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  background: url(../img/svg/icon-right-small.svg) no-repeat 0 0;
  left: -23px;
  top: 2px;
}
.breadcrumbs li:nth-child(4)::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  background: url(../img/svg/icon-right-small.svg) no-repeat 0 0;
  left: -25px;
  top: 2px;
}
.breadcrumbs li:first-child a::before {
  content: "";
  width: 14px;
  height: 12px;
  position: absolute;
  background: url(../img/svg/icon-home.svg) no-repeat 50% 50%;
  top: 8px;
}
.catalog-title {
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.catalog-title h1 {
  margin: 0;
  margin-left: 28px;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 60px;
  position: relative;
}
.column-form-filter h2 {
  margin: 0;
  padding: 0 0 0 20px;
  width: 220px;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #f7f3ec;
  margin-top: 20px;
  box-sizing: border-box;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.column-form-filter {
  width: 220px;
  min-height: 745px;
}
.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}
.filter legend {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.range-filter {
  width: 220px;
  margin-top: 14px;
}
.filter-item legend {
  margin: 0;
  padding-top: 11px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;  
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  margin-left: 10px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 83%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  top: 30px;
  left: 20px;
}
.range-controls .toggle-max {
  top: 30px;
  left: 160px;
}
.price-controls {
  font-size: 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.price-controls input {
  width: 75px;
  padding: 0 10px;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
  font-size: 17px;
}
.max-price {
  text-align: right;
}
.price-controls .tire {
  position: absolute;
  width: 10px;
  height: 1px;
  color: #444444;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  left: 104px;
  top: -7px;
}
.filter fieldset:first-child {
  margin-bottom: 16px;
}
.filter fieldset:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2px;
}
.filter ul {
  line-height: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter label {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.filter button {
  margin-top: 41px;
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background: url(../img/svg/checkbox-off.svg) no-repeat 0 0;
  width: 23px;
  height: 23px;
  left: -34px;
  top: -2px;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  background: url(../img/svg/checkbox-on.svg) no-repeat 0 0;
  width: 27px;
  height: 23px;
  left: -34px;
  top: -2px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  background: url(../img/svg/radio-off.svg) no-repeat 0 0;
  width: 25px;
  height: 25px;
  left: -35px;
  top: -2px;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  background: url(../img/svg/radio-on.svg) no-repeat 0 0;
  width: 25px;
  height: 25px;
  left: -35px;
  top: -2px;
}
.content-catalog {
  width: 700px;
  min-height: 1142px;
  display: flex;
  flex-direction: column;
}
.sort-catalog {
  width: 700px;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #f7f3ec;
  margin-top: 20px;
}
.sort-catalog p {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-catalog .sort {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 138px;
  padding-bottom: 1px;
  text-transform: uppercase;
  list-style: none;
}
.sort-catalog .sort li:first-child {
  margin-right: 70px;
}
.sort-catalog .sort li:last-child {
  margin-left: 65px;
}
.sort-catalog ul:last-child {
  width: 67px;
  height: 30px;
  padding-left: 40px;
}
.sort-catalog ul:last-child li {
  display: inline-block;
  width: 27px;
  height: 30px;
  position: relative;
}
.sort-catalog ul:last-child li a {
  display: block;
  width: 27px;
  height: 30px;
}
.cort-icon1 svg path, .cort-icon2 svg path {
  fill: #c5c5c5;
}
.cort-icon1, .cort-icon2 {
  position: absolute;
  top: 6px;
  left: 9px;
}
.cort-active svg path {
  fill: #ee3643;
}
.cort-icon1:hover svg path, 
.cort-icon2:hover svg path {
  fill: #000;
}
.cort-icon1:active svg path, 
.cort-icon2:active svg path {
  fill: #ee3643;
}
.sort-catalog .sort a {
  color: #000000;
  opacity: 0.3;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px dotted red;
  text-decoration: none;
}
.sort-catalog .sort li:first-child a {
  color: #ee3643;
  opacity: 1;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: none;
}
.content-catalog .list-catalog h2 {
  display: none;
}
.content-catalog .list-catalog {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.content-catalog .list-products {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 990px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-catalog .list-catalog .list-products .list-product {
  margin-right: 0;
  margin-bottom: 20px;
}
.content-catalog .list-catalog .list-products .list-product:nth-child(7),
.content-catalog .list-catalog .list-products .list-product:nth-child(8),
.content-catalog .list-catalog .list-products .list-product:nth-child(9) {
  margin-bottom: 0;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 52px;
  list-style: none;
}
.pagination-item {
  margin-right: 9px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item a {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  display: block;
  padding: 9px 15px;
  border: 1px solid #e5e5e5;
}
.pagination-item:last-child a {
  padding: 9px 31px;
  text-transform: uppercase;
}
.pagination-item-current a {
  background-color: #ee3643;
  color: #fff;
  padding: 10px 16px;
  border: none;
}
.aside-catalog {
  width: 100%;
  min-height: 261px;
  background-color: #f2f6f8;
}
.aside-catalog-item {
  width: 940px;
  min-height: 261px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.popup-form-shop {
  display: none;
  position: absolute;
  top: -58px;
  left: 160px;
  width: 620px;
  height: 282px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  background-color: #fff;
  border-top: 8px solid red;
  box-sizing: border-box;
  z-index: 50;
}
.popup-form-shop p {
  color: #000000;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 66px 0;
  padding-left: 181px;
  position: relative;
}
.popup-form-shop p::before {
  content: "";
  position: absolute;
  left: 81px;
  top: -18px;
  width: 66px;
  height: 66px;
  background: url(../img/svg/icon-mark.svg) no-repeat 0 0;
}
.btn-shop {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
  padding: 37px 80px;
  box-sizing: border-box;
}
.btn-shop a {
  background-color: #ee3643;
  display: inline-block;
  width: 220px;
  height: 38px;
  padding: 12px 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 15px;
}
.btn-shop button {
  width: 220px;
  height: 38px;
  background-color: #ffffff;
  border: 0;
  color: #000000;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.aside-catalog h2 {
   color: #000000;
   font-size: 30px;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
}
.aside-catalog p {
   color: #000000;
   font-family: "PT Sans";
   font-size: 13px;
   font-weight: 400;
   line-height: 24px;
}
.basket-shop .bookmark:hover a::before,
.basket-shop .cart-index:hover a::before {
  opacity: 1;
}
.basket-shop .bookmark:active a::before,
.basket-shop .cart-index:active a::before {
  opacity: 0.5;
}
.search:hover path {
  fill-opacity: 1;
}
.search button:active {
  border-color: none;
}
.search input:focus + button {
  background-color: #fff;
}
.search button:active path {
  fill: red;
  fill-opacity: 1;
}
.search input:focus + button path {
  fill-opacity: 1;
  fill: red;
}
a.header-logo:hover,
a.footer-logo:hover {
  background-color: #ca2c37;
}
a.header-logo:active,
a.footer-logo:active {
  background-color: #ba2732;
}
.search:hover input,
.search:hover button,
.basket-shop .bookmark:hover,
.basket-shop .cart-index:hover {
  background-color: #212a3a;
}
.basket-shop .bookmark:active a,
.basket-shop .cart-index:active a {
  background-color: #161d29;
  color: #c5c5c5;
}
.basket-shop .arrange a:hover {
  background-color: #5fbb2d;
}
.basket-shop .arrange:active a {
  background-color: #518534;
  color: #c5c5c5;
}
.search input:focus,
.search button:focus {
  background-color: #fff;
}
.login a:hover {
  color: #ee3643;;
}
.login a:active {
  color: #c5c5c5;
}
.login:active svg path {
  fill: #c5c5c5;
}
.profile-name:hover path,
.profile-name:hover + button path {
  fill: #32425c;
}
.profile-name:active path,
.profile-name button:active svg path {
  fill: #c5c5c5;
}
.user-profile ul a:hover {
  color: #ee3643;
}
.user-profile ul a:active,
.user-profile a:active {
  color: #c5c5c5;
}
.nav-header a:hover {
  background-color: #293449;
}
.nav-header a:active {
  background-color: #1d2739;
  color: #c5c5c5;
}
.benefits-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.benefits-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.slider .slider-1 a:hover, .slider .slider-2 a:hover {
  background-color: #ca2c37;
}
.slider .slider-1 a:active, .slider .slider-2 a:active {
  background-color: #ba2732;
}
.list-product:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.list-product .actions .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}
.list-product .actions .buy:active {
  background-color: #518534;
  border-color: #518534;
}
.list-product .actions .bookmark:hover {
  border: 3px solid #32425c;
}
.list-product .actions .bookmark:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}
.buy:hover svg path,
.buy:hover svg circle {
  fill-opacity: 1;
}
.buy:active svg path,
.buy:active svg circle {
  fill-opacity: 1;
}
.list-manufacturers li:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
.list-manufacturers li:active img {
  opacity: 0.3;
}
.list-manufacturers li:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.sort-catalog .sort li a:hover {
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid;
}
.sort-catalog .sort li a:active {
  color: #ee3643;
  border: none;
}
.pagination-item a:hover {
    border: 1px solid #bdc6ca;
}
.pagination-item a:active {
  border: 1px solid #ee3643;
}
.pagination-item-current a:hover {
  border: none;
}
.pagination-item-current a:active {
  color: black;
  border: 1px solid #ee3643;
  background-color: #ffffff;
  padding: 9px 15px;
}

.list-service li:first-child button:hover {
  background-color: #fff;
  box-shadow: none;
  color: #000;
}
.list-service li button:hover {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}
.list-service li button:active {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: black;
  border: none;
}
.aside-nav .list-1 a:hover, 
.aside-nav .list-2 a:hover {
  text-decoration: underline;
}
.aside-nav .list-1 a:active, 
.aside-nav .list-2 a:active {
  opacity: 0.5;
  text-decoration: none;
}
.feedback .socials-icon li a:hover,
.feedback .socials-icon li a:active {
  background-color: #ee3643;
}
.fed-1 a:hover {
  text-decoration: underline;
}
.fed-1 a:active {
  color: #ee3643;
  text-decoration: none;
}
.form-contact label input:hover, 
.form-contact label textarea:hover {
  border: 2px solid #b5b5b5;
}
.form-contact label input:focus, 
.form-contact label textarea:focus {
  border: 2px solid #ee3643;
}
.slider-2 {
  display: block;
}